<div class="row cof-flexrow top">
    <div class="cof-flex1" style="margin-right: 5px;">
        <!-- NAME -->
        <div class="row cof-flexrow">
            <div class="cof-flex1 cof-center cof-bg-header">
                <span class="field-label">{{ localize 'COF.details.name' }}</span>
            </div>
            <div class="cof-flex2 cof-center cell">
                <input class="field-value sans" name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'COF.details.name' }}" data-dtype="String"/>
            </div>
        </div>
        <!-- /NAME -->
        {{#if (isNotLimited @root)}}
            <!-- NC -->
            <div class="row cof-flexrow">
                <div class="cof-flex1 cof-center cof-bg-header">
                    <span class="field-label">{{ localize 'COF.attributes.nc.abbrev' }}</span>
                </div>
                <div class="cof-flex2 cof-center cell">
                    <input class="field-value" name="system.nc.value" type="text" value="{{actor.system.nc.value}}" placeholder="{{ localize 'COF.attributes.nc.label' }}" data-dtype="Number"/>
                </div>
            </div>
            <!-- /NC -->
        {{/if}}
        <!-- SIZE -->
        <div class="row cof-flexrow">
            <div class="cof-flex1 cof-center cof-bg-header">
                <span class="field-label">{{ localize 'COF.details.size' }}</span>
            </div>
            <div class="cof-flex2 cof-center cell">
                <select name="system.details.size" data-type="String" style="width:100%">
                    {{selectOptions config.actorSizes selected=system.details.size localize=true}}
                </select>
        </select>
            </div>
        </div>
        <!-- /SIZE -->
    </div>
    <div class="cof-flex1">
        {{#if (isNotLimited @root)}}
            <!-- ARCHETYPE -->
            <div class="row cof-flexrow">
                <div class="cof-flex1 cof-center cof-bg-header">
                    <span class="field-label">{{ localize 'COF.ui.archetype' }}</span>
                </div>
                <div class="cof-flex2 cof-center cell">
                    <select name="system.archetype" data-type="String" style="width:100%">
                        {{selectOptions config.encounterArchetypes selected=system.archetype localize=true blank="COF.None"}}
                    </select>
                </div>
            </div>
            <!-- /ARCHETYPE -->
            <!-- CATEGORY -->
            <div class="row cof-flexrow">
                <div class="cof-flex1 cof-center cof-bg-header">
                    <span class="field-label">{{ localize 'COF.ui.category' }}</span>
                </div>
                <div class="cof-flex2 cof-center cell">
                    <select name="system.category" data-type="String" style="width:100%">
                        {{selectOptions config.encounterCategories selected=system.category localize=true blank="COF.None"}}
                    </select>

                </div>
            </div>
            <!-- /CATEGORY -->
            <!-- BOSS RANK -->
            <div class="row cof-flexrow">
                <div class="cof-flex1 cof-center cof-bg-header">
                    <span class="field-label">{{ localize 'COF.ui.boss' }}</span>
                </div>
                <div class="cof-flex1 cof-center cell">
                    <select name="system.boss.rank" data-type="String" style="width:100%">
                        {{selectOptions config.encounterBossRanks selected=system.boss.rank localize=true blank="COF.None"}}
                    </select>
                </div>
                <div class="cof-flex1 cof-center cell">
                    <select name="system.boss.type" data-type="String" style="width:100%">
                        {{selectOptions config.encounterBossTypes selected=system.boss.type localize=true blank="COF.None"}}
                    </select>
                </div>
            </div>
            <!-- /BOSS RANK -->
        {{/if}}
    </div>
</div>
