{{#if (isEnabled "useRecovery")}}
    <div class="cof-flexrow table-header cof-color-recovery cof-no-wrap">
        <div class="flex8 cof-center cof-color-recovery">
            <div class="field-label ellipsis">{{ localize 'COF.attributes.recovery.label' }}</div>
        </div>
        <div class="cof-flex3 cof-center cof-color-recovery">
            <div class="field-label">{{ localize 'COF.ui.base' }}</div>
        </div>
        <div class="cof-flex3 cof-center cof-color-recovery">
            <div class="field-label">{{ localize 'COF.ui.bonus' }}</div>
        </div>
        <div class="cof-flex3 cof-center cof-color-recovery">
            <div class="field-label">{{ localize 'COF.ui.max' }}</div>
        </div>
        <div class="cof-flex3 cof-center cof-color-recovery">
            <div class="field-label">{{ localize 'COF.ui.current' }}</div>
        </div>        
    </div>
    <div class="cof-flexrow cof-no-wrap">
        <div class="flex8 cof-center cof-bg-recovery">
            <span class="field-label ellipsis cof-rollable" data-rolling="system.attributes.hp" data-roll-type="recovery" title="dépenser un PR avec PV, SHIFT+click sans PV"><i class="fas fa-heartbeat"></i>&nbsp;{{ localize 'COF.attributes.rp.abbrev' }}</span>
        </div>
        <div class="cof-flex3 cof-center cell readonly">
            <input class="field-value" name="system.attributes.rp.base" readonly="true" type="text" value="{{actor.system.attributes.rp.base}}" placeholder="{{localize "COF.ui.base"}}" data-dtype="Number"/>
        </div>
        <div class="cof-flex3 cof-center cell">
            <input class="field-value" name="system.attributes.rp.bonus" type="text" value="{{numberFormat actor.system.attributes.rp.bonus decimals=0 sign=true}}" placeholder="{{localize "COF.ui.bonus"}}" data-dtype="Number"/>
        </div>
        <div class="cof-flex3 cof-center cell readonly">
            <input class="field-value" name="system.attributes.rp.max" readonly="true" type="text" value="{{actor.system.attributes.rp.max}}" placeholder="Max" data-dtype="Number"/>
        </div>
        <div class="cof-flex3 cof-center cell">
            <input class="field-value" name="system.attributes.rp.value" type="text" value="{{actor.system.attributes.rp.value}}" placeholder="{{localize "COF.ui.value"}}" data-dtype="Number"/>
        </div>
    </div>
    <div class="cof-flexrow"><div class="cof-flex1 half-spacer"></div></div>
{{/if}}
