<form class="{{cssClass}}" autocomplete="off">
    <div class="wrap">
        <div class="header">
            <div class="cof-flexrow header-background cof-no-wrap">
                <div class="cof-flex1 cof-left">
                    <div id="banner-left"></div>
                </div>
                <div class="cof-flex1 cof-right">
                    <div id="banner-right"></div>
                </div>
            </div>
            <div class="cof-flexrow">
                <div class="cof-flex1 cof-center" id="logo-banner"><img src="{{logoPath}}"/></div>
            </div>
        </div>
        <div class="cof-flexrow main">
            <div class="sidebar cof-flex1">
                <br/>
                <div class="cof-flexrow">
                    <div class="cof-flex1 cof-center">
                        <span class="charname">{{actor.name}}</span>
                    </div>
                </div>
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            </div>
            <div class="separator cof-flex1"></div>
            <div class="content cof-flex3">
                <div class="cof-flexrow top">
                    <div class="cof-flex1" style="margin-right: 5px;">
                        <!-- NAME -->
                        <div class="cof-flexrow">
                            <div class="cof-flex1 cof-center cof-bg-default">
                                <span class="field-label">{{ localize 'COF.details.name' }}</span>
                            </div>
                            <div class="cof-flex2 cof-center cell">
                                <input class="field-value sans" name="name" type="text" value="{{actor.name}}" placeholder="Name" data-dtype="String"/>
                            </div>
                        </div>
                        <!-- /NAME -->
                    </div>
                    <div class="cof-flex1" style="margin-right: 5px;"></div>
                </div>
                <div class="cof-flexrow">
                    <div class="cof-flex1 half-spacer"></div>
                </div>
                <section class="sheet-body loot-sheet">
                    {{!-- Inventory Tab --}}
                {{> "systems/cof/templates/actors/parts/inventory/actor-inventory.hbs"}}
                </section>
            </div>
        </div>
    </div>
</form>